@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

.commonPad{
    padding: 0 20px;
}

/* NAVBAR  */
.navbar{
    /* background-image: url("img/bg3.jpg"); */
    background-position: center;
    background-color: transparent;
    /* background-color: #ae8bf5; */
    padding: 3px;
    z-index: 1000;
}

.navbar-toggler{
    background-color: white;
}

.nav-link{
    color: white;
    font-size: 17px;
}

.navbar-nav > li{
    margin: 0 10px;
}

.navbar-nav > li a:hover{
    color: #ae8bf5;
}

.navbar-nav > li a:active{
    color: #ae8bf5;
}

.logo{
    width: 13rem;
    /* background-color: white; */
}

#navbarSupportedContent > a{
    margin: auto;
}

#navbarSupportedContent > a > button{
    padding: 7px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: gray;
    transition: 0.1s;
}

#navbarSupportedContent > a > button:hover{
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #ae8bf5;
    color: #fff;
}

#navbarSupportedContent > form{
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 2px 10px;
}

#navbarSupportedContent > form > input{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
}

#navbarSupportedContent > form > i{
    color: #fff;
}

/* HEADER  */

/* MID HEADER  */
#midHeader{
    display: none;
    width: 100%;
    background-color: gold;
    padding: 100px;
}

#midHeader .container{
    text-align: center;
}

/* CIRCLE  */

#earthSection{
    background-image: url("img/bg3.jpg");
    /* background-color: #333333; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
}

#earthSection > div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;
}

.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-image: url("img/earth.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1),
    0 0 50px #4069ff81; 
    animation: animateEarth 10s linear infinite;
    background-position: 0 0;
}

.circle{
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    /* animation: animateText 8s linear infinite; */
}

.circle span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #35146f;
    font-size: 2em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg/36)))
    translateZ(200px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
    font-family: monospace;

    text-shadow: 500px 150px 0 rgba(255, 255, 255, 0.5),
    /* 300px 150px 10px rgba(255, 255, 255, 0.5), */
    150px 600px 0 rgba(255, 255, 255, 0.5),
    600px 50px 0 rgba(255, 255, 255, 0.5),
    400px 350px 0 rgba(255, 255, 255, 0.5),
    200px 500px 0 rgba(255, 255, 255, 0.5),
    
    500px -150px 0 rgba(255, 255, 255, 0.5),
    /* 300px -150px 10px rgba(255, 255, 255, 0.5), */
    150px -600px 0 rgba(255, 255, 255, 0.5),
    600px -50px 0 rgba(255, 255, 255, 0.5),
    400px -350px 0 rgba(255, 255, 255, 0.5),
    200px -500px 0 rgba(255, 255, 255, 0.5);
}

.circle span::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateZ(-5px);
}

/* FEATURES */
#features{
    margin: 30px 0;
    z-index: 3;
}

#features > div:first-child{
    text-align: center;
}

/* #cardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ebf5fc;
} */

#cardsDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    /* align-items: center;
    max-width: 1200px;
    flex-wrap: wrap; */
    padding: 40px 20px;
}

#cardsDiv .card{
    position: relative;
    /* width: 80%; */
    height: 470px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.5),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 10px 0;
}

#cardsDiv .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#cardsDiv .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

#cardsDiv .card .box .content{
    padding: 20px;
    text-align: center;
}

#cardsDiv .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    pointer-events: none;
}

#cardsDiv .card:hover .box .content h2{
    color: rgba(0, 0, 0, 0.05);
}

#cardsDiv .card .box .content h3{
    margin-top: 10px;
    font-size: 1.6em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

#cardsDiv .card .box .content img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

#cardsDiv .card:hover .box .content h3,
#cardsDiv .card:hover .box .content p{
    color: #fff;
}

#cardsDiv .card .box .content p{
    font-size: 1.2em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s; 
}

#cardsDiv .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background-color: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
    font-size: 14px;
}

#cardsDiv .card:hover .box .content a{
    background-color: #ff568f;
}

/* ENTERTAINMENT */
#entertain{
    margin-top: 30px;
    background: #161623;
    padding: 20px;
}

#entertain > h1{
    color: #fff;
    text-align: center;
}

#entertainment {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: url("img/bg3.jpg");
    background-size: cover; */
    background: #161623;
}

#entertainment .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    z-index: 1;
}

#entertainment .container .cards{
    position: relative;
    margin: 30px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5%);
}

#entertainment .container .cards > h2{
    color: #fff;
    margin-top: 20px;
}

#entertainment .container .cards .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

#entertainment .container .cards:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

#entertainment .container .cards .content h2{
    position: absolute;
    top: -20px;
    right: 30px;
    font-size: 8em ;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

/* #entertainment .container .cards .content h3{
    font-size: 2em;
    color: #fff;
    z-index: 1;
} */

#entertainment .container .cards .content p{
    font-size: 1.3em;
    color: #fff;
    font-weight: 300;
}

#entertainment .container .cards .content a{
   position: relative;
   display: inline-block;
   padding: 8px 20px;
   margin-top: 15px;
   background: #fff;
   color: #000;
   border-radius: 20px;
   text-decoration: none;
   font-weight: 500;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* FEEDBACK  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
#feedBack{
    margin-top: 20px;
    background-color: #001923;
}

#feedBack .row100{
    font-family: 'Poppins', sans-serif;
}

#feedBack .container>div:first-child{
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

#feedBack .container>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    padding: 20px;
    width: 100%;
    background-color: #001923;
    backdrop-filter: blur(5%);
}

#feedBack .container>div:last-child::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#ffeb3b, #e91e63);
    border-radius: 50%;
    transform: translate(-420px, -120px);
}

#feedBack .container>div:last-child::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(#2196f3, #83d3ff);
    border-radius: 50%;
    transform: translate(420px, 120px);
}

#feedBack .parentDiv{
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    margin-bottom: 30px;
}

#feedBack .parentDiv::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

#feedBack .parentDiv  h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

#feedBack .parentDiv  .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#feedBack .parentDiv  .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

#feedBack .parentDiv  .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

#feedBack .parentDiv  .row100 .col .inputBox input,
#feedBack .parentDiv  .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

#feedBack .parentDiv  .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

#feedBack .parentDiv  .row100 .col .inputBox input:focus + .text,
#feedBack .parentDiv  .row100 .col .inputBox input:valid + .text,
#feedBack .parentDiv  .row100 .col .inputBox textarea:focus + .text,
#feedBack .parentDiv  .row100 .col .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
}

#feedBack .parentDiv  .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

#feedBack .parentDiv  .row100 .col .inputBox input:focus ~ .line,
#feedBack .parentDiv  .row100 .col .inputBox input:valid ~ .line{
    height: 100%;
}

#feedBack .parentDiv  .row100 .col .textArea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

#feedBack .parentDiv  .row100 .col .inputBox textarea:focus ~ .line,
#feedBack .parentDiv  .row100 .col .inputBox textarea:valid ~ .line{
    height: 100%;
}

#feedBack .parentDiv  .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

/* FOOTER  */
footer{
    background-color: #eef8ff;
    margin-top: 30px;
}

footer .containerDiv{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 10px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

footer .containerDiv .rows{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .containerDiv .rows .cols{
    flex-basis: 25%;
    /* padding: 10px; */
}

footer .containerDiv .rows .cols:nth-child(2),
footer .containerDiv .rows .cols:nth-child(3){
    flex-basis: 15%;
}

footer .containerDiv .rows .cols h4{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email_id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footerLogo{
    width: 60%;
    margin-bottom: 30px;
}

footer .containerDiv .rows .cols ul li{
    list-style: none;
    margin-bottom: 12px;
}

footer .containerDiv .rows .cols ul li a{
    text-decoration: none;
    color: #fff;
}

footer .containerDiv .rows .cols ul{
    padding: 0;
}

footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}

footer form input{
    width: 100%;
    background-color: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button{
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form .fa-solid{
    font-size: 16px;
    color: #fff;
}

footer .socialIcons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    margin-right: 12px;
    cursor: pointer;
}

footer .containerDiv hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .containerDiv .copyRight{
    text-align: center;
}

footer .containerDiv .underLine{
    width: 100%;
    height: 3px;
    background-color: #767676;
    border: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
}

footer .containerDiv .underLine span{
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100px;
    }
}

@media (max-width: 700px){
    footer .containerDiv{
        bottom: unset;
    }

    footer .containerDiv .rows .cols{
        flex-basis: 100%;
    }
    
    footer .containerDiv .rows .cols:nth-child(2),
    footer .containerDiv .rows .cols:nth-child(3){
        flex-basis: 100%;
    }
}