@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* body{
    overflow: hidden;
} */


section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .img-box{
    position: relative;
    width: 50%;
    height: 100%;
}

section .img-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(225deg, #e91e63, #03a94a); */
    background: linear-gradient(225deg, #716066, #8d8d8d);
    opacity: .8;
    z-index: 1;
    mix-blend-mode: screen;
}

section .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content-box .form-box{
    width: 50%;
}

section .content-box .form-box > h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .content-box .form-box .input-box{
    margin-bottom: 20px;
}

section .content-box .form-box .input-box span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

section .content-box .form-box .input-box input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background-color: transparent;
    border-radius: 30px;
}

section .content-box .form-box .input-box input[type="submit"]{
    background-color: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .content-box .form-box .input-box input[type="submit"]:hover{
    background-color: #f53677;
}

section .content-box .form-box input[type="checkbox"]{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

section .content-box .form-box .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}

section .content-box .form-box .input-box p{
    color: #607d8b;
}

section .content-box .form-box .input-box p a{
    color: #ff4584;
}

section .content-box .form-box h3{
    color: #607d8b;
    text-align: center;
    margin: 0px 0 10px;
    font-weight: 500;
}

section .content-box .form-box .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content-box .form-box .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

section .content-box .form-box .sci li:hover{
    background-color: #ff4584;
}

section .content-box .form-box .sci li i{
    font-size: 25px;
    color: #fff;
}

section .content-box .form-box .sci li i{
    font-size: 25px;
}









/* RESPONSIVE */

@media only screen and (min-width: 451px) and (max-width: 770px){
    section .img-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    section .content-box{
        width: 100%;
        z-index: 1;
    }

    section .content-box .form-box{
        width: 100%;
        padding: 40px;
        background-color: rgba(255, 255, 255, .9);
        margin: 50px;
    }

    section .content-box .form-box h3{
        margin: 30px 0 10px;
    }

    section .content-box .form-box .input-box input{
        padding: 15px 20px;
    }
    
}

@media only screen and (min-width: 0px) and (max-width: 450px){
    section .img-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    section .content-box{
        width: 100%;
        z-index: 1;
    }

    section .content-box .form-box{
        width: 100%;
        padding: 30px;
        background-color: rgba(255, 255, 255, .9);
        margin: 20px;
    }

    section .content-box .form-box h3{
        margin: 30px 0 10px;
    }
}