*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace; 
}

body{
    background-image: url("img/bg2.jpg");
    /* background-color: #191e38; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;
}

.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-image: url("img/earth.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1),
    0 0 50px #4069ff81; 
    animation: animateEarth 10s linear infinite;
    background-position: 0 0;
}

/* @keyframes animateEarth{
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: -750px 0;
    }
} */

.circle{
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    /* animation: animateText 8s linear infinite; */
}

.circle span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #35146f;
    font-size: 3em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg/36)))
    translateZ(200px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;

    text-shadow: 500px 150px 0 rgba(255, 255, 255, 0.5),
    300px 150px 10px rgba(255, 255, 255, 0.5),
    150px 600px 0 rgba(255, 255, 255, 0.5),
    600px 50px 0 rgba(255, 255, 255, 0.5),
    400px 350px 0 rgba(255, 255, 255, 0.5),
    200px 500px 0 rgba(255, 255, 255, 0.5),
    
    500px -150px 0 rgba(255, 255, 255, 0.5),
    300px -150px 10px rgba(255, 255, 255, 0.5),
    150px -600px 0 rgba(255, 255, 255, 0.5),
    600px -50px 0 rgba(255, 255, 255, 0.5),
    400px -350px 0 rgba(255, 255, 255, 0.5),
    200px -500px 0 rgba(255, 255, 255, 0.5);
}

.circle span::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateZ(-5px);
}

/* @keyframes animateText{
    0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    }

    100%{
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    }
} */